[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.12"
pillow = "*"
gunicorn = "*"
django-allauth = "==0.63.6"
django-debug-toolbar = "==3.2.1"
django-environ = "==0.11.2"
django-extensions = "==3.2.3"
flake8 = "==7.1.0"
isort = "==5.13.2"
celery = "==5.4.0"
redis = "==5.0.8"
django-redis = "==5.4.0"
stripe = "==10.11.0"
psycopg2 = "==2.9.9"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
